<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />

  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/views/" />
    <property name="suffix" value=".jsp" />
  </bean>

  <bean id="loginController" class="jbr.springmvc.controller.LoginController">
    <property name="methodNameResolver">
      <bean class="org.springframework.web.servlet.mvc.multiaction.InternalPathMethodNameResolver" />
    </property>
    <property name="userService" ref="userService" />
  </bean>

  <bean id="regController" class="jbr.springmvc.controller.RegistrationController">
    <property name="methodNameResolver">
      <bean class="org.springframework.web.servlet.mvc.multiaction.InternalPathMethodNameResolver" />
    </property>
    <property name="userService" ref="userService" />
  </bean>

  <bean id="userService" class="jbr.springmvc.service.UserServiceImpl">
    <property name="userDao" ref="userDao" />
  </bean>

  <bean id="userDao" class="jbr.springmvc.dao.UserDaoImpl">
    <property name="jdbcTemplate" ref="jdbcTemplate" />
  </bean>

  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="derbyDatasource" />
  </bean>

  <bean id="derbyDatasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
    <property name="url" value="jdbc:derby://localhost:1527/springmvc" />
    <property name="username" value="spring" />
    <property name="password" value="mvc" />
  </bean>
</beans>